<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head th:replace="layouts :: bootstrap"/>

<body>

<nav th:replace="layouts :: navvy"/>

<table class="table table-hover table-dark">
    <thead>
    <tr>
        <th>Employee First Name</th>
        <th>Employee Last Name</th>
        <th>Employee Email</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="emp : ${empList}">
        <td th:text="${emp.firstName}"/>
        <td th:text="${emp.lastName}"/>
        <td th:text="${emp.email}"/>
    </tr>

    <button type="button" class="btn btn-secondary btn-lg"><a href="/employees/new">Add Employee</a></button>


    </tbody>
</table>

</body>
</html>