<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="layouts :: bootstrap">
    <title>New Project</title>
</head>
<body>
<nav th:replace="layouts :: navvy"/>

<form action="/projects/save" th:object="${proj}" method="post">
    <input type="text" th:field="${proj.name}"/>

    <select th:field="${proj.stage}">
        <option th:value="NOTSTARTED">Not Started</option>
        <option th:value="INPROGRESS">In Progress</option>
        <option th:value="COMPLETED">Completed</option>
    </select>

    <textarea type="text" th:field="${proj.description}"/>

    <select th:field="${proj.employeeList}" multiple="multiple">
        <option th:each=" emp : ${empList}"
                th:text="${emp.firstName}"
                th:value="${emp.id}"
        />
        <!--            id is the actual field name in java.  @JoinColumn(name= "sql_table_name") -->
    </select>

    <select th:field="${proj.stakeholderList}" multiple="multiple">
        <option th:each="s : ${stakeList}"
                th:text="${s.firstName}"
                th:value="${s.id}"
        />
    </select>

    <button type="submit">Create Project</button>
</form>

</body>
</html>